// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

.post {
  word-wrap: break-word;
  word-break: break-all;
  
  .toc {
    font-size: 0.85rem;

    ol {
      counter-reset: item;
    }

    li {
      display: block;
      padding-left: 1rem;
    }

    li:before {
      content: counters(item, ".");
      counter-increment: item;
      padding-right: 1rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .body {
    p, ul {
      line-height: 1.6;
      margin-bottom: 1.25rem;
      &>strong {
        color: black;
      }
      ul {
        margin-bottom: 0;
      }
    }

    li {
      margin: 0 0 0 30px;
      padding: 5px 0px;
      
      p {
        margin-bottom: 0;
      }
    }

    ol {
      & > li {
        list-style-type: decimal;
      }
    }

    ul {
      & > li {
        list-style: square;
      }
    }

    a {
      color: #0074E8;

      * {
        color: #0074E8;
      }

      code {
        text-decoration: underline;
      }
    }

    * {
      color: #131516;
    }
    
    &:nth-child(2) {
      margin-top: 0;
    }

    h2, h3, h4, h5, h6, .h7 {
      a {
        color: black;
      }
      scroll-margin-top: var(--h-header);
      margin-bottom: 1.25rem 
    }


    h2 {
      font-size: 1.5rem;      
      margin-top: 1.5rem;

      + h3 {
        margin-top: -0.5rem;
      }
    }

    h3 {
      font-size: 1.3rem;
      margin-top: 3rem;
    }

    h4 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    h5 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    h6 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .h7 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    /* Set the header variable */
    --h-header: 50px;

    code {
      background-color: #eff3fb;
      color: #0074E8;
      padding: 2px 4px;
      
      a {
        text-decoration: underline;
      }
    }

    pre {
      code {
        overflow-x: auto;
        width: 100%;
        display: block;
        counter-reset: line;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 0.25rem;
        background-color: #fefeff;
        margin: 1.5rem 0;
        font-size: 0.9rem;
      }
    }

    .img {
      img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
      }


      @include tablet {
        img {
          width: 80%;
        }
      }

      @include desktop {
        img {
          width: 80%;
        }
      }

      .img-alt {
        display: block;
        width: 100%;
        text-align: center;
        color: #666;
      }
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
      width: 20px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #dbdbdb;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #b7b7b7;
    }

    table {
      th {
        background-color: #eee;
      }

      th, td {
        border: 1px solid black;
        padding: 0.5rem;
      }
    }

    blockquote {
      border-left: 3px solid rgb(86, 86, 86);
      color: rgb(86, 86, 86);
      padding-left: 2rem;

      font-family: "gowun-batang", serif;
    }

    textarea {
      border: 1px solid black;
      padding: 0.5rem 1rem;
      margin-bottom: 1.25rem;
    }
  }
}
