.post {
  .toc {
    font-size: 0.85rem;

    ol {
      counter-reset: item;
    }

    li {
      display: block;
      padding-left: 1rem;
    }

    li:before {
      content: counters(item, ".");
      counter-increment: item;
      padding-right: 1rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .body {
    p {
      line-height: 1.8;
      letter-spacing: 1.4;
    }

    * {
      margin-bottom: 1.25rem 
    }
    
    &:nth-child(2) {
      margin-top: 0;
    }



    h2 {
      font-size: 1.5rem;
      scroll-margin-top: var(--h-header);
      margin-top: 1.5rem;

      + h3 {
        margin-top: -0.5rem;
      }
    }

    h3 {
      font-size: 1.3rem;
      scroll-margin-top: var(--h-header);
      margin-top: 3rem;
    }

    h4 {
      font-size: 1.2rem;
      scroll-margin-top: var(--h-header);
      margin-bottom: 1rem;
    }

    h5 {
      font-size: 1.1rem;
      scroll-margin-top: var(--h-header);
      margin-bottom: 1rem;
    }

    h6 {
      font-size: 1.1rem;
      scroll-margin-top: var(--h-header);
      margin-bottom: 1rem;
    }

    .h7 {
      font-size: 1rem;
      scroll-margin-top: var(--h-header);
      margin-bottom: 1rem;
    }

    /* Set the header variable */
    --h-header: 50px;

    code {
      background-color: #eff3fb;
      color: #0074E8;
      padding: 2px 4px;
    }

    pre {
      code {
        overflow-x: scroll;
        width: 100%;
        display: block;
        counter-reset: line;
        padding: 1rem;
        border: 1px solid #274174;
        background-color: #fefeff;
        margin: 2rem 0;
      }
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
      width: 20px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #dbdbdb;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #b7b7b7;
    }
  }

}
